<!-- template.html -->
{% load static %}
<div>
    <!-- put component code here -->
    <h2>Cars Parts</h2>
    <h3>{{ name }}</h3>
<style>
h2 {
    color: #FFFFFF;
    text-align: center;
    background-color: #006400;
    display: block;
    font-size: 2.5em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 {
    text-align: center;
    display: block;
    font-size: 2em;
    font-weight: bold;
}
h4 {
    text-align: center;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
}
h5 {
    text-align: center;
    display: block;
    font-size: 1.3em;
    font-weight: bold;
}
button {
    background-color: #FFFFFF;
    font-size: 1.2em;
    border: none;
    display: inline-block;
    padding: 2em 1em;
    margin: auto;
    text-align: bottom;
}
.center {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  width: 60%;
}
button:hover {
    background-color: #00A000; /* Green */
    color: white;
}
.images_view {
    width: 50%;
    display: flex;
    text-align: center;
}
.info_view {
    width: 50%;
    text-align: auto;
}
.panel_view {
    display: flex;
}
hr {
    text-align: center;
}
.bin-div {
    float: right;
    height: 100px;
}
</style>
    <hr/>
    <div class="bin-div">
        <button unicorn:click="bin()">Bin</button>
    </div>
    <div class="panel_view">
        <div class="images_view" text-align: left>
            <button unicorn:click="previous_image" display_image.src = {{current_image}}>Previous</button>
            <img id="display_image" src="{% static current_image %}" class="center">
            <button unicorn:click="next_image" display_image.src = {{current_image}}>Next</button>
        </div>
        <div class="info_view">
            <h4>Name: {{ name }}</h4>
            <h4>Description: {{ description }}</h4>
            <h4>Price: {{ price }} uah</h4>
            <input unicorn:model="quantity" type="number" value="1" step='1' id="chosen_quality" min="1" max="{{ available }}">
            <button unicorn:click="add_part( '{{ quantity }}' )">Add</button>
        </div>
    </div>
</div>
